@font-face {
  font-family: 'Kaw-pixel';
  src: url('fonts/kaw-pixel.otf.woff2/kaw-pixel.otf.woff2') format('woff2'),
       url('fonts/style/fonts/kaw-pixel.otf/kaw-pixel.otf') format('otf'),
       url('fonts/kaw-pixel.ttf/kaw-pixel.ttf') format('truetype');
}
@font-face {
    font-family: 'Jersey-10';
    src: url('fonts/Jersey_10/Jersey10-Regular.ttf') format('ttf'),
         url('fonts/webfonts_jersey-10/jersey-10-latin-400-normal.woff') format('woff'),
         url('fonts/webfonts_jersey-10/jersey-10-latin-400-normal.woff2') format('woff2');
}
.eng {
    font-family: 'Jersey-10';
}
.ru {
     font-family: 'Kaw-pixel';
}
